.default {
  border-top:solid 3px #3291b0;
  width:800px;
}

.default .fa {
  float: right;
  margin-top: -340px;
  font-size: 2em;
  color:#3291b0;
  cursor: pointer;
  margin-right: 10px;
  transition: all .1s;
}
.default .fa:hover {
  color:#3eadd2;
  transform: scale(1.1);
}

.success {
    border: solid 4px #6bd780;
    width: 100%;
    float: left;
    height: 100%;
    width: 600px;
}

.fail {
  border: solid 4px #e77662;
  width: 100%;
  float: left;
  height: 100%;
  width: 600px;
}
.fail h1 {
  color:#e77662;
  font-size: 2em;
  float:left;
}

.fail .text {
  float: left;
  margin-left: 20px;
}

.fail .fa {
  float: left;
  font-size: 3em;
  color:#e77662;
  margin-top: 25px;
  margin-left: 30px;
}
.fail .fa-times-circle {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 2em;
  cursor: pointer;
  transition: all .1s;
}

.fail .fa-times-circle:hover {
  color:#ea664e;
  transform: scale(1.1);
}

.fail .errMsg {
  float:left;
  clear:left;
  color:#9e9e9e;
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'Open',sans-serif;
  font-weight: bold;
}

.success h1 {
  color:#6bd780;
  font-size: 2em;
  float:left;
}

.success .text {
  float: left;
  margin-left: 20px;
}

.success .fa {
  float: left;
  font-size: 3em;
  color:#6bd780;
  margin-top: 25px;
  margin-left: 30px;
}

.success .fa-times-circle {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 2em;
  cursor: pointer;
  transition: all .1s;
}

.success .fa-times-circle:hover {
  color:#50e86e;
  transform: scale(1.1);
}

.success .stat {
  float:left;
  clear:left;
  color:#9e9e9e;
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'Open',sans-serif;
  font-weight: bold;
}

.inputWrap {
	float: left;
    clear: left;
    margin-bottom: 8px;
}
.cssList {
	width: 100%;
    float: left;
    padding-left: 45px;
    margin-bottom: 10px;
}
.cssList a {
	color: #717171;
    text-decoration: none;
    text-overflow: ellipsis;
    margin-left: 5px;
    float: left;
    max-width: 700px;
}
.cleanBtn {
	margin: 10px auto 20px;
    display: block;
    background: #3291b0;
    border: 1px solid #3291b0;
    color: #fff;
    width: 90%;
    font-size: 1.5em;
    padding: 3px;
    font-family: "Open", sans-serif;
    border-radius: 3px;
}

h1 {
	color: #525252;
    text-align: left;
    font-size: 1.25em;
    font-weight: 700;
    font-family: "Open", sans-serif;
}

input[type="radio"] + span {
  background-color: #fefefe;
  border: 1px solid;
  border-color: #ccc #fff #fff #ccc;
  border-radius: 50px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  float: left;
  margin-right: 7px;
  padding: 7px;
  position: relative;
  -webkit-appearance: none;
}
input[type="radio"]:checked + span {
  color: #f00;
}

input[type="radio"]:checked + span:after {
  background: #3291b0;
  border-radius: 50px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.75), inset -1px -1px 1px rgba(0, 0, 0, 0.75);
  content: " ";
  height: 10px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.inputWrap:hover input[type="radio"] + span {
  border-color: #3291b0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-left: -25px;
    line-height: normal;
    opacity: 1;
    z-index: 9999;
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 20px;
    cursor: pointer;
}